
.tooltip {
    border: var(--border-size-extra-small) solid var(--secondary-border-color);
    border-radius: var(--border-radius-medium) !important;
    background-color: var(--secondary-color);
    opacity: var(--opacity-medium);
    pointer-events: none;
    overflow: visible;
}

.tooltip-content {
    overflow: visible;
    width: unset;
    height: unset;
    position: unset;
    padding: var(--gap-medium);
    user-select: none;
    white-space: nowrap;
}
