.inventory-container {
    display: grid;
    width: calc(100% - var(--gap-small) * 2);
    height: calc(100% - var(--gap-small) * 2);
    position: absolute;
    scrollbar-width: none;
}

.inventory-container .inventory-grid-container {
    display: grid;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    box-sizing: border-box;
}

.inventory-container .inventory-slot {
    position: relative;
    border-radius: var(--border-radius-medium);
    border: var(--border-size-extra-small) solid var(--secondary-border-color);
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 1rem;
    aspect-ratio: 1 / 1;
    user-select: none;
    transition:
        background-color var(--transition-time-short),
        transform calc(var(--transition-time-short) * 1.5);
    cursor: pointer;
    pointer-events: none;
    user-select: none;
}

.inventory-container .inventory-slot.empty {
    pointer-events: auto;
    background-color: color-mix(in srgb, var(--tertiary-color) var(--opacity-low), transparent);
    border-color: color-mix(in srgb, var(--tertiary-color) var(--opacity-medium), transparent);
}

.inventory-container .inventory-slot:hover {
    background-color: var(--tertiary-color);
    transform: scale(1.05);
    border-color: var(--accent-secondary-color);
}


.inventory-container .item-count {
    position: absolute;
    bottom: var(--gap-small);
    right: var(--gap-small);
    background: var(--secondary-color);
    border-radius: var(--gap-small);
    padding: var(--gap-extra-small) var(--gap-small);
    font-size: 0.75rem;
    pointer-events: none;
}

.inventory-container .inventory-item {
    position: relative;
    display: inline-block;
    background-color: var(--tertiary-color);
    color: #fff;
    border-radius: calc(var(--border-radius-medium) - var(--border-size-extra-small));
    width: 100%;
    height: 100%;
    pointer-events: auto;
}

.inventory-container .item-name {
    position: absolute;
    display: block;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
    top: var(--gap-medium);
    width: 90%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    font-size: 1em;
    pointer-events: none;
}


.inventory-container .item-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.inventory-container .item-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}

.inventory-container .item-icon-container {
    position: absolute;
    width: 100%;
    height: 65%;
    bottom: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.inventory-container .inventory-slot.selected {
    background-color: var(--tertiary-color);
    transform: scale(1.05);
    border-color: var(--accent-color);
}

.action-container {
    position: absolute;
    user-select: none;
    pointer-events: none;
    display: none;
    transition: visibility var(--transition-time-medium) ease-in-out;
    z-index: 9999999;
}

.action-button {
    position: absolute;
    border-radius: 50%;
    border: var(--border-size-extra-small) solid var(--secondary-border-color);
    pointer-events: auto;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color var(--transition-time-medium) ease-in-out, transform var(--transition-time-medium) ease-in-out;
}