@import url('./Modal/modal.css');
@import url('./Inventory/inventory.css');
@import url('./Toast/toast.css');
@import url('./ProgressBar/progress_bar.css');
@import url('./Settings/settings.css');
@import url('./Tooltip/tooltip.css');
@import url('./ShopInventory/shop_inventory.css');

html * {
    font-size: 1em;
    color: #ffffff;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #1a202c;
    --secondary-color: #2d3748;
    --tertiary-color: #4a5568;

    --primary-border-color: #718096;
    --secondary-border-color: #4a5568;
    --tertiary-border-color: #a0aec0;

    --accent-color: #4d92c3;
    --accent-secondary-color: #539f95;


    --error-color: #ef4444;
    --warning-color: #facc15;
    --success-color: #22c55e;
    --info-color: #3b82f6;
    --default-color: #9ca3af;


    --border-radius-extra-small: 1px;
    --border-radius-small: 2px;
    --border-radius-medium: 12px;
    --border-radius-large: 24px;

    --border-size-extra-small: 1px;
    --border-size-small: 2px;
    --border-size-medium: 4px;
    --border-size-large: 12px;


    --transition-time-short: 0.1s;
    --transition-time-medium: 0.25s;
    --transition-time-long: 0.5s;

    --gap-extra-small: 2px;
    --gap-small: 4px;
    --gap-medium: 8px;
    --gap-large: 14px;

    --opacity-low: 25%;
    --opacity-medium: 75%;
    --opacity-high: 90%;

    --settings-panel-min-width: 120px;
    --settings-panel-max-width: 300px;
    --settings-panel-button-min-height: 60px;
    --settings-panel-button-max-height: 120px;
    --settings-checkbox-width: 75px;
    --settings-slider-width: 200px;
    --settings-slider-value-width: 75px;



    --toast-height: 2.5rem;


    --modal-header-height: 40px;
    --modal-close-button-size: 26px;

}